body {
  background-image: url('../images/background.jpg');
}

.thumbImages {
  max-width:100%;
  height: 150;
}

.panel-body{
  padding-left: 0px;
  padding-right: 0px;
}

.meta-panel {
  padding-left: 10px;
  padding-right: 10px;
}
